<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>音乐人</title>
	<link rel='icon' href="../public/img/music.png" />
	<link rel='stylesheet' type="text/css" href="../public/iconfont/iconfont.css" />
	<link rel='stylesheet' type="text/css" href="../public/style/style.css" />
	<script src='../public/js/jQuery-1.7.1.js'></script>
</head>
<body>
	<div class="play">
		<div>
			<span class="song-title" id="songTitle">我的心里是满的</span>
			<div class="mods-controls">
				<a href="javscript:void(0);" id='btn-prev' title='上一首' class="iconfont playicon">&#xf0016;</a>
				<!-- &#xe662;(播放iconfont) &#xe6ac;（暂停iconfont2）-->
				<a href="javscript:void(0);" id='btn-playpause' title='播放/暂停' class="iconfont playicon">&#xe662;</a>
				<a href="javscript:void(0);" id='btn-next' title='下一首' class="iconfont playicon">&#xf0015;</a>
			</div>
		</div>
		<div class="progress">
			<div class="progress-play" id='progressPlay'></div>
			<span class="progress-slider" id="progressSlider"></span>
		</div>
	</div>
	<div class="list">
		<span class="play-list">播放列表</span>
		<div class="function-btn">
			<!-- <form id='uploadForm' action="/fileUpload" method="POST" enctype="multipart/form-data"> -->
				<input type="file" id="fileUpload" name="fileUpload">
				<!-- <input type="submit"> -->
			</form>
			<a href="javascript:void(0);" title="上传文件" class="iconfont upload" id='uploadIcon'>&#xf003a;</a>
			<a href="javascript:void(0);" title="清空全部" class='iconfont' id='clearAll'>&#xe649;</a>
		</div>
		<div id='songContainer'>
			<!-- <li class="song-list">
				<a href="javascript" class="song-name">我的心里是满的</a>
				<a href="javascript" class="song-download iconfont">&#xe64c;</a>
				<a href="javascript" class="song-delete iconfont">&#xf003f;</a>
			</li>
			<li class="song-list">
				<a href="javascript" class="song-name">春的临终</a>
				<a href="javascript" class="song-download iconfont">&#xe64c;</a>
				<a href="javascript" class="song-delete iconfont" >&#xf003f;</a>
			</li>
			<li class="song-list">
				<a href="javascript" class="song-name">在你身后</a>
				<a href="javascript" class="song-download iconfont">&#xe64c;</a>
				<a href="javascript" class="song-delete iconfont" >&#xf003f;</a>
			</li> -->
		</div>
	</div>
	<script type="text/javascript">
	$('#fileUpload').on('mouseenter', function() {
		$('#uploadIcon').addClass('hover-add');
	}).on('mouseleave', function() {
		$('#uploadIcon').removeClass('hover-add');
	});
	</script>
	<script src='../public/js/play.js'></script>
	<script src='../public/js/player.js'></script>
</body>
</html>